<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    소켓 통신
    <!--node.js에서 사용할 수 있게 제공함 (따로 생성할 필요 없음)-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io.connect('http://localhost:8888', {
            path : '/socket.io'
        })
        // socket.js에서 가져오기
        socket.on('news', function(data){
            console.log(data)
            socket.emit('reply', 'OK')
        })
    </script>
</body>
</html>